body{
    background-color: rgb(155, 204, 246);
}

.wrapper{
    display: flex;

}

.img-login{
    height: auto;
    float: right;
    position: absolute;
    top: 10%;
    right: 0;
}
.appname .logan{
    font-size: 120%;
    margin-left:10%;
    font-weight:lighter;

}
.appname .font-logo{
    font-size: 150%;
    margin-left:8%;
    font-weight: bold;

}
.login p{
    margin-left: 10%;
}

.login{
    position: absolute;
    top:40%;
    width: 22%;
    border: 1px solid #708090;
    margin-left: 10%;
    padding: 30px;
}   

.login h1{
    text-align: center;
    margin-bottom: 20px;
}

.login input{
    width: 60%;
    padding: 3%;
    border: 1px solid #708090;
    border-radius: 10px;
    margin-left: 10%;
}
.msg{
    margin-left: 10%;
    padding: 4px;
}

.login .btn{
    width: 43%;
    padding: 5px;
    margin-left: 20%;
    margin-top: 4%;
    border: 1px solid #708090;
    border-radius: 10px;
    background-color: #708090;
    color: white;
    cursor: pointer;
}

.login .btn:hover{
    background-color: #296eb4;
    color: white;
}

.message-resgister p{
    margin-left: 10%;
    padding: 4px;
}

.login .btn-resgister{
    border: 1px solid #708090;
    border-radius: 10px;
    background-color: #6ea8e2;
    color: white;
    cursor: pointer;

}

.btn-resgister:hover{
    background-color: #296eb4;
    color: white;
}
.btn-resgister a{

    color: 708090;
}