{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Transport</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/order.css' %}">
</head>
<body>
    <div class="wrapper">
        <form method="post" action="{% url 'api-create' %}">
            <h3>Tạo Vận Đơn</h3>
            <p>Thông Tin Sản Phẩm</p>
            <div class="input-box">
                <input type="text" id="product_name" name="product_name" placeholder="Tên Sản Phẩm" required>
            </div>
            <div class="small-box">
                <div><input type="number" id="quantity" name="quantity" placeholder="Số Lượng" required></div>
                <div><input type="number" id="weight" name="weight" step="any" placeholder="Cân Nặng" required></div>
            </div>
            <div class="input-box">
                <input type="text" id="description" name="description" placeholder="Mô Tả Sản Phẩm" required>
            </div>
            <p>Thông Tin Người Gửi</p>
            <div class="input-box">
                <input type="text" id="name_ownerShop" name="name_ownerShop" placeholder="Họ Và Tên" required>
            </div>
            <div class="input-box">
                <input type="text" id="customer_phone" name="customer_phone" placeholder="Số Điện Thoại" required>
            </div>
            <div class="small-box">
                <select name="province_sender" id="province_select_sender" onchange="getDistrictsFromSender()">
                    <option value="">Chọn Tỉnh/Thành phố</option>
                    {% for province in provinces %}
                        <option value="{{ province.id }}">{{ province.name }}</option>
                    {% endfor %}
                </select>
            
                <select name="district_sender" id="district_select_sender" onchange="onDistrictChange(this)">
                    <option value="">Chọn Quận/Huyện</option>
                </select>
            
                <select name="ward_sender" id="ward_select_sender">
                    <option value="">Chọn Phường/Xã</option>
                </select>
            </div>
            <div class="input-box">
                <input type="text" id="address_sender" name="address_sender" placeholder="Địa Chỉ Cụ Thể" required>
            </div>
            
            <p>Thông Tin Người Nhận</p>
            <div class="input-box">
                <input type="text" id="name_customer" name="name_customer" placeholder="Họ Và Tên" required>
            </div>
            <div class="input-box">
                <input type="text" id="customer_phone" name="customer_phone" placeholder="Số Điện Thoại" required>
            </div>
            <div class="small-box">
                <select name="province_receiver" id="province_select_receiver" onchange="getDistrictsFromReceiver()">
                    <option value="">Chọn Tỉnh/Thành phố</option>
                    {% for province in provinces %}
                        <option value="{{ province.id }}">{{ province.name }}</option>
                    {% endfor %}
                </select>
                
                <select name="district_receiver" id="district_select_receiver" onchange="onDistrictChange(this)">
                    <option value="">Chọn Quận/Huyện</option>
                </select>
                
                <select name="ward_receiver" id="ward_select_receiver">
                    <option value="">Chọn Phường/Xã</option>
                </select>
            </div>
            
            <div class="input-box">
                <input type="text" id="address_receiver" name="address_receiver" placeholder="Địa Chỉ Cụ Thể" required>
            </div>

            <div class="agree">
                <label><input type="checkbox"> Tôi đã đọc hiểu và đồng ý với Điều khoản & Quy định và Chính sách bảo
                    mật</label>
            </div>
            <button type="submit" class="btn">Tạo</button>
        </form>
    </div>
    <script>
        function getDistricts(selectedProvinceId, districtSelectElement, wardSelectElement) {
            // Clear previous districts and wards
            districtSelectElement.innerHTML = '<option value="">Chọn Quận/Huyện</option>';
            wardSelectElement.innerHTML = '<option value="">Chọn Phường/Xã</option>';

            // Send Ajax request to get districts
            if (selectedProvinceId) {
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var districts = JSON.parse(xhr.responseText).results;
                        districts.forEach(function (district) {
                            var option = document.createElement("option");
                            option.value = district.id;
                            option.text = district.name;
                            districtSelectElement.appendChild(option);
                        });
                    }
                };
                xhr.open("GET", "https://vnprovinces.pythonanywhere.com/api/districts/?province_id=" + selectedProvinceId + "&basic=true&limit=100", true);
                xhr.send();
            }
        }

        function getWards(selectedDistrictId, wardSelectElement) {
            // Clear previous wards
            wardSelectElement.innerHTML = '<option value="">Chọn Phường/Xã</option>';

            // Send Ajax request to get wards
            if (selectedDistrictId) {
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var wards = JSON.parse(xhr.responseText).results;
                        wards.forEach(function (ward) {
                            var option = document.createElement("option");
                            option.value = ward.id;
                            option.text = ward.name;
                            wardSelectElement.appendChild(option);
                        });
                    }
                };
                xhr.open("GET", "https://vnprovinces.pythonanywhere.com/api/wards/?district_id=" + selectedDistrictId + "&basic=true&limit=100", true);
                xhr.send();
            }
        }

        function getDistrictsFromSender() {
            var provinceSelect = document.getElementById("province_select_sender");
            var selectedProvinceId = provinceSelect.value;
            var districtSelect = document.getElementById("district_select_sender");
            var wardSelect = document.getElementById("ward_select_sender");
            getDistricts(selectedProvinceId, districtSelect, wardSelect);
        }

        function getDistrictsFromReceiver() {
            var provinceSelect = document.getElementById("province_select_receiver");
            var selectedProvinceId = provinceSelect.value;
            var districtSelect = document.getElementById("district_select_receiver");
            var wardSelect = document.getElementById("ward_select_receiver");
            getDistricts(selectedProvinceId, districtSelect, wardSelect);
        }

        function onDistrictChange(selectElement) {
            var selectedDistrictId = selectElement.value;
            var wardSelectElement = selectElement.parentElement.querySelector("#ward_select_receiver"); // Sửa lại id của ô chọn phường/xã của người nhận
            getWards(selectedDistrictId, wardSelectElement);
        }
    </script>
</body>
</html>
