{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  type = "text/css" href="{% static 'css/guest.css' %}">

</head>
<body>
        <div class="header">
            <div class="navbar">
                <div class="left-nav">
                    <ul>
                        <li><img src="{% static 'images/logo.jpg' %}" class="logo" width="50px"></li>
                        <li><a href="{% url 'guest' %}">Trang chủ</a></li>
                        <li>
                            <a href="#">Dịch Vụ </a>
                                <ul class="drop-down">
                                    <li><a href="{% url 'login' %}">Dịch vụ vận chuyển</a></li>
                                    <li><a href="{% url 'login' %}">Dịch vụ giao hàng</a></li>
                                    <li><a href="{% url 'login' %}">Ưu Đãi</a></li>
                                </ul>
                        </li>
                        <li><a href="#">Liên hệ</a></li>
                        <li><a href="{% url 'info_transport' %}">Tra cứu vận đơn</a></li>

                    </ul>
                </div>
                <div class="right-nav">
                    <ul>
                        <li><a href="{% url 'signup' %}">Đăng Kí</a></li>
                        <li><a href="{% url 'login' %}">Đăng Nhập</a></li>
                    </ul>
                </div>
            </div>
        <div class="container">
            {% block guest %}

            {% endblock guest %}
        </div>
</body>
</html>
