{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet"  type = "text/css" href="{% static 'css/logins.css' %}">

</head>
<body>
    
    <div class="wrapper">
        
        <form action="{% url 'send_otp' %}" method="post">
            <div class="login">
            {% csrf_token %}
            <input type="tel" name="phone" placeholder="Nhập số điện thoại của bạn">
            <button type="submit" class="btn">Gửi OTP</button>
                
                <div class="message-resgister">
                    <p>Don't have an account? <button class="btn-resgister"><a href="{% url 'signup' %} " >Đăng Ký</a></button></p>
                </div>
            </div>
        </form>
        <div class="img-login">
            <img src="{% static 'images/login.png' %}">
        </div>
        
    </div>
</body>
</html>


