
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resgiter</title>
    <link rel="stylesheet"  type = "text/css" href="{% static 'css/register.css' %}">

</head>
<body>
    <div class="wrapper-signup" >
        <form method="post" action="{% url 'signup' %}">
            <div class="signup">
                <div class="appname"> <p> <a href="{%url 'home' %}"" class="font-logo">G-Express </a> </p> <i> <p class="logan"> Trách nhiệm - Uy Tín - Tốc độ</i> </p></div>
                {% csrf_token %}
                <h1>Register</h1>

                <div class="input-box">
                    <div class="msg">User name</div>
                    <input type="text" id="user_name" name="user_name" placeholder="User Name" required>
                </div>
                <div class="input-box">
                    <div class="msg">PassWord</div>
                    <input type="password" id="password" name="password" minlength="8" placeholder="PassWord" required>
                </div>
                <div class="input-box">
                    <div class="msg">Confirm PassWord</div>
                    <input type="password" id="confirm_password" name="confirm_password" minlength="8" placeholder="Confirm Password" required>
                </div>
                <div class="input-box">
                    <div class="msg">First name</div>
                    <input type="text" id="first_name" name="first_name" placeholder="First Name" required>
                </div>
                <div class="input-box">
                    <div class="msg">Last name</div>
                    <input type="text" id="last_name" name="last_name" placeholder="Last Name" required>
                </div>
                <div class="input-box">
                    <div class="msg">Email</div>
                    <input type="text" id="email" name="email" placeholder="Email" required>
                </div>

                <div class="input-box">
                    <div class="msg"> You are </div>
                    <select id="role" name="role" >
                        <option value="Customer">Customer</option>
                        <option value="Shop">Shop</option>
                        <option value="Shipper">Shipper</option>
                    </select>
                </div>
                <button type="submit" class = "btn">Register</button>
                <div class="message-register">
                    <p>Already have an account? <button class="btn-register"><a href="{% url 'login' %}">Login here</a></button> </p>
                </div>
        </form>
        <div class="img-register">
            <img src="{% static 'images/login.png' %}" width="800" height="650">
        </div>
    </div>
    </div>
</body>
